@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

body {
	background: #221f1f;
	color: #ffffff;
	font-family: "Lato", sans-serif;
}

h2, .TitleList .Title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 1em;
}

p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 1em;
}

.header {
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6000000", endColorstr="#00000000", GradientType=0);
	/* IE6-9 */
	display: flex;
	padding: 40px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;
	z-index: 5;
}

.logo {
	width: 320px;
	height: auto;
	margin-right: 10px;
	transition: margin 0.125s ease;
}

.logo svg {
	transform: scale(0.5);
	transform-origin: 0 0;
}

.logo svg path {
	fill: #e50914;
	transition: fill 0.125s ease;
}

.logo:hover {
	cursor: pointer;
	margin-top: 2px;
}

.logo:hover svg path {
	fill: #ffffff !important;
}

.navigation ul {
	display: flex;
	height: 37px;
	align-items: center;
	padding: 0 10px;
}

.navigation ul li {
	font-weight: 400;
	padding: 7px 10px;
	font-size: 14px;
	transition: background 0.125s ease;
	border-radius: 3px;
}

.navigation ul li:hover {
	background: #e50914;
	cursor: pointer;
}

.user-profile {
	margin-left: auto;
}

.user-profile .user {
	display: flex;
}

.user-profile .user .image {
	border-radius: 44px;
	margin-left: 10px;
	overflow: hidden;
	width: 44px;
	height: 44px;
	box-sizing: border-box;
	border: 3px solid transparent;
	transition: border 0.125s ease;
}

.user-profile .user .image img {
	width: 100%;
	display: block;
}

.user-profile .user .name {
	align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: 300;
	height: 44px;
}

.user-profile .user:hover {
	cursor: pointer;
}

.user-profile .user:hover .image {
	border: 3px solid #e50914;
}

.hero {
	width: 100%;
	position: relative;
	background-size: cover;
	min-height: 600px;
}

.hero .content {
	position: relative;
	z-index: 4;
	width: 500px;
	left: 10vw;
	top: 10vw;
}

.hero .content .logo {
	max-width: 400px;
	display: block;
	position: relative;
	left: -5px;
}

.hero .content p {
	width: 100%;
}

.hero .content .button-wrapper {
	display: flex;
	width: 400px;
	margin-top: 30px;
}

.hero .content .button-wrapper .button-el:first-child {
	margin-right: 10px;
}

.hero .overlay {
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
}

.button-el {
	background: transparent;
	display: flex;
	height: 44px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #ffffff;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid rgba(245, 245, 241, 0.2);
	border-radius: 44px;
	font-size: 14px;
	font-weight: 600;
	transition: border 0.125s ease, background 0.125s ease;
}

.button-el:hover {
	border: 2px solid #f5f5f1;
}

.button-el[data-primary=true] {
	border: 2px solid #e50914;
}

.button-el[data-primary=true]:hover {
	background: #e50914;
}
